.hero {
    position: relative;
    width: 100%;
    height: 90vh; 
    overflow: hidden;
    background-color: var(--background-color);
}

.hero picture,
.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.intro, .features {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.feature-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.feature-item {
    flex: 1 1 250px; 
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 8px;
}

:root {
  --primary-color: #f49c18;   
  --secondary-color: #0e9317; 
  --accent-color: #df1414;    
  --background-color: #e38513; 
}