.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.intro, .features {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.feature-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.feature-item {
    flex: 1 1 250px; 
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 8px;
}
