@media (max-width: 700px) {
    .feature-list {
        flex-direction: column;
        bottom: 1rem;
    }
    .feature-item {
        margin-bottom: 1rem;
        width: 90%;
    }
    .hero-bar {
        font-size: 1.3rem;
        padding: 0.8rem 1rem;
    }
}