@media (max-width: 700px) {
    .feature-list {
        flex-direction: column;
    }
    .feature-list {
        flex-direction: column;
    }
    .feature-item {
        margin-bottom: 1.5rem;
    }
    .hero {
        height: 40vh;
    }
    .intro h1 {
        font-size: 1.8rem;
    }
    .intro p {
        font-size: 1rem;
    }
}