*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	padding: 1rem;
	background-color: #eee;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    border-radius: 5px;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
main h2 {
    grid-column: 1 / -1;
}

h2 {
	color: navy;
	text-align: left;
}

article p {
	text-align: justify;
}

.callout {
	color: #fff;
	background-color: #702963;
    padding: 20px;
    border-bottom: 5px solid #000;
}
ul {
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
}
footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
