body {
    font-family: moserrat, sans-serif;
    background-color: #F3CEE2;
    color: #333;
    padding: 0;
}

h1, h2 {
    color: #1D0713
}
.section-box{ 
    background-color: white;
    border: 5px solid #C2AACB;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}