body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F3CEE2;
    color: #333;
    padding: 20px;
    margin: 0;
}

h1, h2 {
    color: #1D0713
}
.section-box{ 
    background-color: white;
    border: 5px solid #F3CEE2;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

p,li {
    line-height: 1.6;
}