body {
    font-family: 'Montserrat', sans-serif;
    background-color: #feeed2;
    color: #311401;
    padding: 0;
    margin: 0;
}

header {
    background-color: #eb6207;
    color: white;
    padding: 25px 0;
    text-align: center;
    font-size: 1.5 rem;
    font-weight: bold;
}

main { 
    display: flex;
    justify-content: center;
    margin: 20px;
}

form {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(222, 100, 24, 0.324);
    width: 350%;
}

label, legend {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

select, input[type="date"], input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff9f0;
    font-size: 1rem;
}

fieldset {
    border: none;
    margin-bottom: 15px;
    padding: 0px;
}

fieldset label {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.2rem;
}

input[type="checkbox"] {
    margin-right: 5px;
}

fieldset label {
    font-weight: normal;
}

input[type="submit"] {
    width: 100%;
    background-color: #eb6207;
    border: 2px solid #e86507e2;
    padding: 12px;
    border-radius: 8px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d04e06;
}

footer {
    background-color: #eb6207;
    color: white;
    text-align: center;
    padding: 20px 10;
    margin-top: 30px;
    font-size: 0.9rem;
}
footer p {
    margin: 5px 0;
}