*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
}

header h1 {
    margin-bottom: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #000;
}

nav li {
    margin: 0 3rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 300px;
}

.content {
    background-color: lightgray;
    padding: 1rem;
}

aside {
    background-color: white;
    padding: 1rem;
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1.5rem;
}