* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #282828;
    line-height: 1.6;
}
header {
    background-color: #5acebb;
    color: black;
    text-align: center;
    padding: 1.5rem 1rem;
}
header #course-title {
    background: #50b3a2;
    color: #fff;
    display: block;
    font-size: 1.6rem;
    padding: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.7rem;
}
nav {
    display:flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 0.5rem;
}
nav ul {
    list-style-type: none;
}

nav a {
    color: #f7faf9;
    text-decoration: none;
    font-weight: bold;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    transition: 0.3s ease-in-out;

}
nav a:hover {
    background-color: white;
    color: #5bfae0;
    transform: scale(1.05);
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 0 1rem;
    max-width: 1000px;
    margin: 2rem auto;
}
h1 {
    grid-column: span 2;
    margin-bottom: 1rem;
    text-align: center;
}
.card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.card h2 {
    margin-bottom: 1rem;
    text-align: center;
}
.card img {
    display: block;
    margin: 0.5rem auto;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #50b3a2;
    color: #fff;
    margin-top: 2rem;
}
footer p {
    margin: 0.3rem 0;
}